html {
  background-color: grey;
}

:root {
  --border: 1px solid white;
}

.main-container {
  display: grid;
}

.daniel-clifford-container {
  border: var(--border);
  grid-column: 1 / 4;
}

.jonathan-walters-container {
  border: var(--border);

}

.jeanette-harmon-container {
  border: var(--border);

}

.patrick-abrams-container {
  border: var(--border);

}

.kira-whittle-container {
  border: var(--border);

}
