html {
  background-color: grey;
}

#main-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "aaa aaa bbb eee"
  "ccc ddd ddd eee";
}

.daniel-clifford-container {
  background-color: #f4cccc;
  grid-area: aaa;
}

.jonathan-walters-container {
  background-color: #fce5cd;
  grid-area: bbb;
}

.jeanette-harmon-container {
  background-color: #d9ead3;
  grid-area: ccc;
}

.patrick-abrams-container {
  background-color: #d0e0e3;
  grid-area: ddd;
}

.kira-whittle-container {
  background-color: #d9d2e9;
  grid-area: eee;
}
